.Container {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  /* line-height: 1.6; */
  line-height: 180%;
  /* padding-top: 6.6vmax;
  padding-bottom: 6.6vmax; */
}
