* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-size: 2rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  background: #212529;
}

#name {
  font-family: 'Lato';
  /* font-size: 2rem; */
  font-size: 30px;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 1rem;
  font-weight: 400;
  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s ease, opacity 1s ease;
}

h5,
h4,
#connect-message {
  font-family: 'Lato';
  text-align: center;
  letter-spacing: 0.1em;
  padding: 1rem;
  text-transform: uppercase;
}

/* Name animation - adapted from:  https://codepen.io/oksas/pen/GoGowK */

.is-loading #name {
  transform: scale(0.9);
  opacity: 0;
}

#name:before,
#name:after {
  height: 2px;
  width: 100%;
  content: '';
  background: white;
  display: block;
  position: absolute;
  transition: width 0.4s ease;
  transition-delay: 0.8s;
}

#name:before {
  top: 0;
  left: 0;
}

#name:after {
  bottom: 0;
  right: 0;
}

.is-loading #name:before,
.is-loading #name:after {
  width: 0;
}

/* PROFILE IMAGE CODE */

#logo {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  margin-bottom: 40px;
  border: 4px solid #a9a9a9;
  border-radius: 100%;
  /* margin-bottom: 5rem; */
  /* animation-duration: 1.5s; */
}

header {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
  perspective: 100px;
}

header:before {
  animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.66) 100%, transparent),
    url('https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  /* background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url("../images/laptop.jpg"); */
  background-size: cover, cover;
  background-position: center, center;
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header-title {
  color: #ffffff;
  font-family: 'Lato';
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.header-subtitle {
  font-family: 'Lato';
  letter-spacing: 0.1em;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: -40px;
}

.header-button {
  transform: translateZ(0.1px);
  position: relative;
  z-index: 10;
  font-weight: 700;
  background-color: #24292e !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
}

/* Button hover effect - source: https://codepen.io/kundankumarmourya/pen/jQKzdB?page=1& */

.button--webcoderskull::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 4px !important;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--webcoderskull:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.button--text-medium:hover {
  color: #24292e !important;
  border-color: #24292e !important;
}

.button--text-medium:active {
  color: #24292e !important;
  border-color: #ffffff !important;
}

/* ===================================================== */

.animate-pop-in {
  animation: pop-in 0.6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.rocky-dashed {
  animation-delay: 0.6s;
}

.header-title {
  animation-delay: 0.8s;
}

.header-subtitle {
  animation-delay: 1s;
}

.header-button {
  animation-delay: 1.1s;
}

/* Animations */

@keyframes fade-slide-down {
  0% {
    opacity: 0;
    transform: none;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}

/* LANDING BUTTONS */
/* Source:  https://bootsnipp.com/snippets/6X9n5 */

a.btn-links,
.btn-links {
  border-radius: 50%;
  color: #24292e !important;
  background-color: #ffffff !important;

  /* color: #ffffff !important; */
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 44px;
  margin: 8px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}

a.btn-links:hover,
.btn-links:hover {
  background: #a9a9a9 !important;
  color: #ffffff !important;
}

.fa-home:before,
.fa-book:before,
.fa-briefcase:before,
.fa-envelope-square:before {
  /* content: "\f199"; */
  margin-left: 3px;
  font-size: 24px;
}

.fa-file-pdf:before {
  margin-left: 4px;
}

.fa-home,
.fa-book,
.fa-briefcase,
.fa-rocket,
.fa-file-pdf,
.fa-envelope-square {
  font-size: 24px;
}

.btn-links .fa,
.btn-links i {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: all 0.25s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
  -webkit-transition: all 0.25s;
}

/* TOOLTIP STYLES */
.tooltip-inner {
  background-color: #ffffff;
  color: #000;
}

.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #ffffff;
}
